* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    color: black;
    background: #f27059;
}

.board {
    display: grid;
    grid-template-rows: repeat(8, 9vmin);
    grid-template-columns: repeat(8, 9vmin);
    gap: 1vw;
    z-index: 1;
    transform-style: preserve-3d;
    transform: rotateX(60deg) rotateZ(240deg);
}

.tile {
    border: 1px solid black;
    background-color: #ffffff80;
    position: relative;
    transform-style: preserve-3d;
}

.tile:nth-child(1) {
    grid-row: 1;
    grid-column: 1;
    transform: rotate(135deg);
    border-radius: 50%;
}

.tile:nth-child(2) {
    grid-row: 1;
    grid-column: 2;
    transform: rotate(180deg);
}
.tile:nth-child(3) {
    grid-row: 1;
    grid-column: 3;
    transform: rotate(180deg);
}

.tile:nth-child(4) {
    grid-row: 1;
    grid-column: 4;
    transform: rotate(180deg);
}

.tile:nth-child(5) {
    grid-row: 1;
    grid-column: 5;
    transform: rotate(180deg);
}

.tile:nth-child(6) {
    grid-row: 1;
    grid-column: 6;
    transform: rotate(180deg);
}

.tile:nth-child(7) {
    grid-row: 1;
    grid-column: 7;
    transform: rotate(180deg);
}

.tile:nth-child(8) {
    grid-row: 1;
    grid-column: 8;
    transform: rotate(225deg);
    border-radius: 50%;
}

.tile:nth-child(9) {
    grid-row: 2;
    grid-column: 8;
    transform: rotate(270deg);
}

.tile:nth-child(10) {
    grid-row: 3;
    grid-column: 8;
    transform: rotate(270deg);
}

.tile:nth-child(11) {
    grid-row: 4;
    grid-column: 8;
    transform: rotate(270deg);
}

.tile:nth-child(12) {
    grid-row: 5;
    grid-column: 8;
    transform: rotate(270deg);
}

.tile:nth-child(13) {
    grid-row: 6;
    grid-column: 8;
    transform: rotate(270deg);
}

.tile:nth-child(14) {
    grid-row: 7;
    grid-column: 8;
    transform: rotate(270deg);
}

.tile:nth-child(15) {
    grid-row: 8;
    grid-column: 8;
    transform: rotate(315deg);
    border-radius: 50%;
}

.tile:nth-child(16) {
    grid-row: 8;
    grid-column: 7;
}

.tile:nth-child(17) {
    grid-row: 8;
    grid-column: 6;
}

.tile:nth-child(18) {
    grid-row: 8;
    grid-column: 5;
}

.tile:nth-child(19) {
    grid-row: 8;
    grid-column: 4;
}

.tile:nth-child(20) {
    grid-row: 8;
    grid-column: 3;
}
.tile:nth-child(21) {
    grid-row: 8;
    grid-column: 2;
}
.tile:nth-child(22) {
    grid-row: 8;
    grid-column: 1;
    transform: rotate(45deg);
    border-radius: 50%;
}
.tile:nth-child(23) {
    grid-row: 7;
    grid-column: 1;
    transform: rotate(90deg);
}
.tile:nth-child(24) {
    grid-row: 6;
    grid-column: 1;
    transform: rotate(90deg);
}
.tile:nth-child(25) {
    grid-row: 5;
    grid-column: 1;
    transform: rotate(90deg);
}
.tile:nth-child(26) {
    grid-row: 4;
    grid-column: 1;
    transform: rotate(90deg);
}
.tile:nth-child(27) {
    grid-row: 3;
    grid-column: 1;
    transform: rotate(90deg);
}
.tile:nth-child(28) {
    grid-row: 2;
    grid-column: 1;
    transform: rotate(90deg);
}

/* 플레이어 정보창 */
div.plStatusContainer{
	width:150px;
	position: fixed;
	top: 10%;
	right: 7%;
	z-index: 3;
}
#pl1{
	width: 130px;
	margin: 5px auto;
	padding-left: 5px;
	background-color: #ffffff95;
	border: 1px solid black;
}
#pl2{
	width: 130px;
	margin: 5px auto;
	padding-left: 5px;
	background-color: #ffffff95;
	border: 1px solid black;
}
#pl3{
	width: 130px;
	margin: 5px auto;
	padding-left: 5px;
	background-color: #ffffff95;
	border: 1px solid black;
}
#pl4{
	width: 130px;
	margin: 5px auto;
	padding-left: 5px;
	background-color: #ffffff95;
	border: 1px solid black;
}
#playerInfo1{
    width: 480px;
    height: 400px;
    position: fixed;
    background-color: #ffffff95;
    top: 25%;
	right: 30%;
	z-index: 3;
	visibility: hidden;
	border: 1px solid black;
}
#playerInfo2{
    width: 480px;
    height: 400px;
    position: fixed;
    background-color: #ffffff95;
    top: 25%;
	right: 30%;
	z-index: 3;
	visibility: hidden;
	border: 1px solid black;
}
#playerInfo3{
    width: 480px;
    height: 400px;
    position: fixed;
    background-color: #ffffff95;
    top: 25%;
	right: 30%;
	z-index: 3;
	visibility: hidden;
	border: 1px solid black;
}
#playerInfo4{
    width: 480px;
    height: 400px;
    position: fixed;
    background-color: #ffffff95;
    top: 25%;
	right: 30%;
	z-index: 3;
	visibility: hidden;
	border: 1px solid black;
}

/* 상태 메시지창 */
div.statusContainer{
	width: 404px;
	height: 152px;
	position: fixed;
    bottom: -10%;
    right: 70%;
    z-index: 3;
}
div.statusContainer > textarea {
    resize: none;
    background-color: #ffffff95;
}

/* 채팅 출력/입력 창 (임시) */
div.chatContainer{
	width: 404px;
	height: 152px;
	position: fixed;
    bottom: 0%;
    right: 5%;
    z-index: 3;
}
div.chatContainer > textarea {
    resize: none;
    background-color: #ffffff70;
}
div.chatContainer>p>input[type="text"]{
	width: 363px;
	background-color: #ffffff70;
}
#dot {
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 100;
    transition: 1s;
    transform: translateX(-50%) translateY(-50%) rotate();
    position: fixed;
}

.hotel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateX(90deg);
    width: 20px;
    height: 20px;
    /* 배열로 각 건물 level에 따라 표기되는 그림이 달라짐. */
    background: url('../images/hotel.png');
    background-size: contain;
}
/* 주사위 */
#dice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    width: 12vmin;
    height: 12vmin;
    background-color: black;
   	overflow: hidden;
}
#diceTrigger {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffd04699;
	z-index: 999;
}
#dice > input {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/******************** 도시명 표기 *********************/
.city-name {
    background-color: #ffffff90;
    font-size: 1vmin;
    width: 8.6vmin;
    height: 2vmin;
    text-align: center;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*************** 플레이어 말 ***************/
.player-mark {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 25%;
}
.player-mark1 {
    display: inline-block;
    width: 0.8vmin;
    height: 0.8vmin;
    background-color: blue;
    border-radius: 50%;
}
.player-mark2 {
    display: inline-block;
    width: 0.8vmin;
    height: 0.8vmin;
    background-color: red;
    border-radius: 50%;
}
.player-mark3 {
    display: inline-block;
    width: 0.8vmin;
    height: 0.8vmin;
    background-color: green;
    border-radius: 50%;
}
.player-mark4 {
    display: inline-block;
    width: 0.8vmin;
    height: 0.8vmin;
    background-color: yellow;
    border-radius: 50%;
}
.tile:nth-child(3) .player-mark1 {
    opacity: 0;
}
